{% extends 'base.html' %}
{% block content %}

<div class="card p-4 mb-4">
<h3>📺 {{ channel.name }}</h3>
<p>{{ channel.description }}</p>
</div>

<div class="row">
{% for v in videos %}
<div class="col-md-4 mb-3">
  <div class="card shadow">
    <video class="card-img-top" controls>
      <source src="{{ url_for('static', filename='videos/' + v.filename) }}">
    </video>
    <div class="card-body text-center">
      ❤️ {{ v.likes }} | 👁 {{ v.views }}
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
